//////////////////////
// Font
//////////////////////

$font-family-base: Arial, san-serif;
$font-size-base: 16px;
$line-height-base: 1.4em;

$font-size-headline-xxl: 60px;
$font-size-headline-xl:  32px;
$font-size-headline-lg:  29px;
$font-size-headline-md:  23px;
$font-size-headline-sm:  20px;
$font-size-headline-xs:  18px;
$font-size-headline-xxs: 12px;

//////////////////////
// Colors
//////////////////////

$color-dark: #333;
$color-light: #fff;

$bg-color: $color-light;
$text-color: $color-dark;
// $link-color:
// $link-hover-color:
// $hr-border-color:

//////////////////////
// Sizes
//////////////////////

$container-width: 1140px;
$container-gutter: 30px;
$container-section-margin-lg: 60px;
$container-section-margin-sm: 30px;

//////////////////////
// Media Queries
//////////////////////

$screen-xs: 600px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

$screen-xs-min: $screen-xs;
$screen-sm-min: $screen-sm;
$screen-md-min: $screen-md;
$screen-lg-min: $screen-lg;

$screen-xxs-max: ($screen-xs-min - 1);
$screen-xs-max: ($screen-sm-min - 1);
$screen-sm-max: ($screen-md-min - 1);
$screen-md-max: ($screen-lg-min - 1);

$breakpoints: (
        xxs: $screen-xxs-max,
        xs: $screen-xs,
        sm: $screen-sm,
        md: $screen-md,
        lg: $screen-lg
);

$breakpointsMax: (
        xxs: $screen-xxs-max,
        xs: $screen-xs-max,
        sm: $screen-sm-max,
        md: $screen-md-max,
        lg: $screen-lg
);

$breakpointsMin: (
        xxs: $screen-xxs-max,
        xs: $screen-xs-min,
        sm: $screen-sm-min,
        md: $screen-md-min,
        lg: $screen-lg-min
);