.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
  color: inherit;
  pointer-events: none;

  &--inline {
	margin-bottom: -0.1em;
  }

  &--block {
	display: block;
  }

  &--middle {
	vertical-align: middle;
  }
}
